<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.md2k.motionsenselibrary" >
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name="org.md2k.motionsenselibrary.plot.ActivityPlot"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
